@page "/stocks/new"
@inject NavigationManager _navManager;
@inject StocksService _stocksService;

<PageTitle>Stock</PageTitle>

<EditForm Model="model" OnValidSubmit="SaveStock">
    <DataAnnotationsValidator/>


    <div class="flex-container">
        <div class="flex1">
            <HxInputText @bind-Value="model.Name" Label="Name"/>
        </div>
        <div class="flex1">
            <HxInputText @bind-Value="model.Description" Label="Description"/>
        </div>
    </div>

    <div class="flex-container">
        <div class="flex2">
            <HxInputNumber @bind-Value="model.Capacity" Label="Capacity"/>
        </div>
        <div class="flex1">
            <HxInputNumber @bind-Value="model.PositionX" Label="Position X"/>
        </div>
        <div class="flex1">
            <HxInputNumber @bind-Value="model.PositionY" Label="Position Y" />
        </div>
    </div>

    <HxSubmit CssClass="btn-margin" Text="Save stock" Color="ThemeColor.Primary"/> 

</EditForm>